<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<Header>
		<Title>File Documentation</Title>
		<Author>Jarryd Deane</Author>
		<Description>Creates a documentation header for a file</Description>
		<Shortcut>docme</Shortcut>
	</Header>
	<Snippet>
		<Code Language="CSharp">
			<![CDATA[
/*
 * Title:
 * Author: $end$
 * Date:
 * Purpose:
*/
			]]>
		</Code>
	</Snippet>
</CodeSnippet>